
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');


// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

//@import '~flexslider/flexslider.css';


$menu-color: #737373;
body{
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  color: #737373;
  font-weight: normal;
}
body a:hover{
  text-decoration: none;
}
#homebg{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,112,183,1) 50%, rgba(0,112,183,1) 100%);
  color: #ffF;
}
#homebg a{
  color: #fff;
}
a{
  color: #737373;
}
#homebg .navbar-light .navbar-nav a.nav-link{
  color: #737373;
}
#wrapper{
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
#mainHeader{
  position: relative;
  z-index: 5;
  color: $menu-color;
}
#mainHeader .navbar-nav{
  color: $menu-color;
  font-family: $font-family-sans-serif;
}
#mainHeader .navbar-brand{
  width: 210px;
  margin: 0px;
  padding: 0px;
  margin-top: 3rem;
}
.navbar-expand-lg .navbar-toggler{
  border: none;
  float: right;
  margin-top: 35px;
  color: #737373;
  font-size: 30px;
}
#mainHeader .navbar-collapse{
  float: right;
  margin-top: 5rem;
}
.hundred-percent{
  width: 100%;
}
.navbar-light .navbar-nav .nav-link{
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  color: #737373;
  margin: 0 1.5rem;
  font-weight: 500;
  padding: 0;
  padding-bottom: 1rem;
} 
.navbar-light .navbar-nav .nav-link:hover{
  border-bottom: 2px solid #0070b7;
}

.sliderbar{
    margin-top: -80px;
}
.sliderbtn{
    font-family: 'Roboto',sans-serif;
    color: #737373;
    border: 3px solid #00a99f;
    padding: 7px 19px;
    text-decoration: none;
    font-size: 25px;    
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 15px;
}
.sliderbtn:hover{
    color: #00a99f;
    text-decoration: none;

}
.subheader{
  margin-bottom: 0 !important;
  position: relative;
}
.right-box{
  margin-top: 5rem;
  width: 100%;
}
.search-container{
  
}
.search-container .search-btn{
  color: #737373;
  position: relative;
  left: 10px;
}
.search-container .search-box{
  position: relative;
  color: #737373;
}
.search-container .search-box::before{
  content: "\F002";
  font-family: $font-awesome;
  font-weight: 900;
  position: absolute;
}
.search-container .search-box input[type=search]{
  background: transparent;
  border: none;
  color: #737373;
  outline-offset: 0;
  padding-left: 20px;
  outline: 0;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
}
.search-container .search-box input[type=search]::-webkit-input-placeholder { /* Edge */
  color: #737373;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
}

.search-container .search-box input[type=search]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #737373;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
}

.search-container .search-box input[type=search]::placeholder {
  color: #737373;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
}



.lang-box{
  color: #737373;
  text-transform: uppercase;
}
.lang-box .lang-item{
  display: inline-block;
  border-left: 1px solid #737373;
  padding: 0 0.5rem; 
}
.lang-box .lang-item:first-child{
  border-left: none;
}
.lang-box .lang-item.active{
  font-weight: 500;
}
.social-box{
  list-style: none;
  padding-left: 0px;
  text-align: right;
}
.social-box li{
  display: inline-block;
  margin: 0 0.4rem;
}
#homebg .search-container .search-box{
  color: #fff;
}
#homebg .search-container .search-box input[type=search]{
  color: #fff;
}
#homebg .search-container .search-box input[type=search]::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

#homebg .search-container .search-box input[type=search]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

#homebg .search-container .search-box input[type=search]::placeholder {
  color: #fff;
}
#homebg .lang-box{
  color: #fff;
}
#homebg .lang-box .lang-item{
  border-left: 1px solid #fff;
  color: #fff;
}
#homebg .lang-box .lang-item:first-child{
  border-left: none;
}
#layerslider .lslayer1{
  top:164px;
  left: 10%;
  text-align:left;
  font-weight:400;
  font-style:normal;
  text-decoration:none;
  width:430px;
  white-space:normal;
  color:#0070b7;
  font-size:3.625rem;
  font-weight: 900;
}
#layerslider .lslayer2{
  
}
#layerslider .lslayer3{
  
}
#layerslider .ls-bottom-nav-wrapper{
  position: absolute;
  top: 50%;
  left: 0px;
}
#layerslider .ls-bottom-slidebuttons{
  color: #737373;
  font-size: 1.5rem;
  font-weight: 300;
  display: inline-block;
}
#layerslider .ls-bottom-slidebuttons a{
  display: block;
  color: #737373;
  font-size: 1.5rem;
  font-weight: 300;
  transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    margin: 0.5rem 0;

}
#layerslider .ls-bottom-slidebuttons a:hover,
#layerslider .ls-bottom-slidebuttons a.ls-nav-active{
  	font-size: 3rem;
    font-weight: bold;
    position: relative;
    padding-left: 1.125rem;
}
#layerslider .ls-bottom-slidebuttons a:hover::before,
#layerslider .ls-bottom-slidebuttons a.ls-nav-active::before{
  content: "";
  width: 1.125rem;
  border-bottom: 2px solid #0070b7;
  position: absolute;
  left: -0.5rem;
  top: 27px;

}
.dropdownfull{
  width: 100%; 
  z-index: 10;
  position: relative !important;
}
.dropdownfull.show{
  display: block;
}
.norelative{
  position: inherit;
}
.topfull{
  width: 200%;
  position: absolute;
  z-index: 10;
  left: 0px;
}
#homebg .topful a,
.topfull a{
  color: #0070b7 !important;
  display: block;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
#homebg .topful a:hover,
.topfull a:hover{
  background-color:#cce2f1;
}
.dropdown{}
.dropdown:hover{}
.dropdown:hover ul{display: block;}
.dropdown:hover ul .dropdown-menu{
  display: block;
  padding: 2% 3%;
}
.dropdown:hover ul .dropdownfull .downlist-item{
  width: 33%;
  border-right: 1px solid #cce2f1;
}
.dropdown:hover ul .dropdownfull .downlist-item a.menu-link-icon{
  position: relative;
}
.dropdown:hover ul .dropdownfull .downlist-item a.menu-link-icon::after{
  position: absolute;
  content: '\f054';
  right: 13px;
  color: #0070b7;
  font-family: $font-awesome;
  font-weight: 900;
}
.dropdown:hover ul .dropdownfull li ul{
  display: none;
  position: relative;
}
.dropdown:hover ul .dropdownfull li{
  /* position: relative; */
}
.dropdown:hover ul .dropdownfull li:hover ul
{
  display: block;
  position: absolute;
  top: 0px;
  left: 33%;
  width: 66%;
  padding: 2% 3%;
}
.dropdown:hover ul .dropdownfull li:hover ul li{
  width: 50%;
  display: inline-block;
  float: left;
}
.dropdown:hover ul .dropdownfull li:hover ul li a{
  font-size: 0.9rem;
}
.dropdown:hover ul .dropdownfull li:hover ul li a::after{
  content: '';
}
