
// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');

// Variables
//@import 'variables';

// Bootstrap
@import '~admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css';
@import '~admin-lte/bower_components/font-awesome/css/font-awesome.min.css';
@import '~admin-lte/bower_components/Ionicons/css/ionicons.min.css';
@import '~admin-lte/bower_components/jvectormap/jquery-jvectormap.css';
@import '~admin-lte/dist/css/AdminLTE.min.css';
@import '~admin-lte/dist/css/skins/_all-skins.min.css';
@import '~grapesjs/dist/css/grapes.min.css';
@import '~grapesjs/dist/css/grapes.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.label{
  color: #000 !important;
  font-size: 100%;
  padding: .2em .0em .3em;
}
.gjs-editor{
  font-size:  1rem;
}
.gjs-trt-traits{
  font-size: 1rem;
}
.gjs-field input{
  color: #26a5e2;
}

.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
  border: 10px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.jcarousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  width: 200px;
  float: left;
  border: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.jcarousel img {
  display: block;
  max-width: 100%;
  height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 4px #F0EFE7;
  -moz-box-shadow: 0 0 4px #F0EFE7;
  box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
  left: 15px;
}

.jcarousel-control-next {
  right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0;
}

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;

  font-size: 11px;
  height: 10px;
  width: 10px;
  line-height: 10px;

  background: #fff;
  color: #4E443C;
  border-radius: 10px;
  text-indent: -9999px;

  margin-right: 7px;


  -webkit-box-shadow: 0 0 2px #4E443C;
  -moz-box-shadow: 0 0 2px #4E443C;
  box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;

  -webkit-box-shadow: 0 0 2px #F0EFE7;
  -moz-box-shadow: 0 0 2px #F0EFE7;
  box-shadow: 0 0 2px #F0EFE7;
}

$pill-border-radius:  20px !default;
$pill-margin-x:       10px !default;
$pill-margin-y:       15px !default;

$pill-bg:             #FFF !default;
$pill-border:         rgb(187, 187, 187) !default;
$pill-font:           rgb(20, 164, 190) !default;

$pill-hover-bg:       rgb(21, 139, 159) !default;
$pill-hover-border:   rgb(21, 139, 159) !default;
$pill-hover-font:     #FFF !default;

$pill-active-bg:      rgb(20, 164, 190) !default;
$pill-active-border:  rgb(20, 164, 190) !default;
$pill-active-font:    #FFF !default;

/* body {
  font-family: "Open Sans";
} */

.button-group-pills {
  .btn {
    border-radius: $pill-border-radius;
    line-height: 1.2;
    
    margin-bottom: $pill-margin-y;
    margin-left:   $pill-margin-x;
    
    border-color: $pill-border;
    background-color: $pill-bg;
    color: $pill-font;
    
    &.active {
      border-color:     $pill-active-border;
      background-color: $pill-active-bg;
      color:            $pill-active-font;
      
      box-shadow: none;
    }

    &:hover {
      border-color:     $pill-hover-border;
      background-color: $pill-hover-bg;
      color:            $pill-hover-font;
    }
    
  }
}
.box.box-primary form{
  padding: 2rem;
}
#editable{
	display: block;
    width: 100%;
    min-height: 122px;
    padding: 6px 0px;
    font-size: 14px;
    line-height: 1.61803399;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 0px;
}
#editable li{
	display: inline-block;
	position: relative;
	border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 9px;
    width: 138px;
    background: #f2f2f3;
    float: left;
    margin-bottom: 18px;
    cursor: pointer;
}
#editable li:hover{
	background: #ff3600;
}
.fileitem:hover .fileinput-button .photo-text{
	color: #fff;
}
#editable li .fileitemrotate{
	display: none;
	width: 100%;
	position: absolute;
	bottom: 0px;
	color: #fff;
	min-height: 10px;
	text-align: center;
	z-index: 10;
    background: #ff3600;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#editable li .fileitemrotate:hover{
	text-decoration: none;
}
#editable li .fileitemrotate i{
	margin-right: 5px;
	font-size: 24px;
    padding-top: 3px;
}
#editable li:first-child .fileitemrotate{
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#editable li:hover .fileitemrotate{
	display: block;
}


#editable li:first-child{
	border:2px solid #ff3600;
}
#editable li:first-child img{
	width: 100%;
	border-radius: 0px;
}
#editable li:first-child:before{
	content: '\f005';
	font-family: 'FontAwesome';
	color: #ff3600;
	background: #fff;
	border-radius: 18px;
	border: 2px solid #ff3600;
	width: 18px;
	height: 18px;
	position: absolute;
	top: -12px;
	left: -9px;
	z-index: 2;
	line-height: 15px;
    text-align: center;
    font-size: 11px;
}
#editable li:first-child:after{
	content: 'vitrin';
	font-family: 'Roboto',sans-serif;
	font-size: 10px;
	line-height: 31px;
	font-weight: bold;
	padding-left: 9px;
	border-radius: 3px;
	background: #ff3600;
	color: #ffF;
	top: -11px;
    position: absolute;
    line-height: 16px;
    padding-right: 8px;
    left: 4px;
}
#editable li.fileup{
	border: 1px solid #ccc;
}
#editable li.fileup:after,
#editable li.fileup:before{
	display: none;
}
#editable li img{
  width: 100%;
	border-radius: 5px;
}
#editable li.rotateloading{

}
#editable li.rotateloading:before{
	content: '';
	position: absolute;
	width: 136px;
	height: 105px;
	background: rgba(0,0,0,0.2);
	z-index: 20;
	border-radius: 5px;
}
#editable li.rotateloading:after{
	/*content: '\f110';*/
	content: '';
	color: #fff;
	font-family: 'FontAwesome';
	font-size: 40px;
	border: .40rem solid rgba(255,255,255,0.50);
	border-top-color: #fff;
    animation: spin 1s infinite linear;
	margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 21;
    border-radius: 100px;
}
#editable li.rotateloading:hover .fileitemrotate{
	display: none;
}
#editable li:first-child.rotateloading:before{
	content: '';
	position: absolute;
	width: 136px;
	height: 105px;
	background: rgba(0,0,0,0.2);
	z-index: 20;
	border-radius: 5px;
	border: none;
    top: -2px;
    left: -1px;
}
#editable li:first-child.rotateloading:after{
	padding-left:0px;
	background: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fileitem .fileinput-button{
	text-align: center;
	min-height: 105px;
	width: 100%;
	cursor: pointer;
}
.fileitem .fileinput-button .photo-icon{
	width: 49px;
	height: 47px;
	margin: 10px auto;
    display: block;
    cursor: pointer;
    position: relative;
}
.fileitem .fileinput-button .photo-icon::before{
  position: absolute;
  content: "\F03E";
  font-size: 33px;
  color: #000;
  font-family: "FontAwesome", sans-serif;
  left: 4px;
}
.fileitem .fileinput-button .photo-text{
	color: #ff3600;
	font-size: 15px;
	font-family: 'Roboto',sans-serif;
	line-height: 31px;
	font-weight: bold;
}
.show{
	display: block !important;
}
.hide{
	display: none !important;
}
.progress{
	height: 7px;
	margin-top: -3px;
    margin-bottom: 20px;
    width: 100%;
}
.progress .progress-bar{
	background-color: #ff3600;
}
.progress-bar2 {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 22px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.progress .progress-bar2{
	display: none;
	background-color: #ff0000;
}
.newphototext{
	font-size: 14px;
	line-height: 28px;
	font-family: 'Roboto',sans-serif;
	color: #353c42;
}
#fotoadet{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
}

.fileitemdelete{
	position: absolute;
    cursor: pointer;
    color: #d9534f;
    top: 3px;
    right: 3px;
    display: block;
}